[mgr]
  ratio = [1, 3, 3]
  show_hidden = true

[[plugin.prepend_fetchers]]
  id = "git"
  url = "*"
  run = "git"

[[plugin.prepend_fetchers]]
  id = "git"
  url = "*/"
  run = "git"

[[plugin.prepend_previewers]]
  mime = "application/{*zip,tar,bzip2,7z*,rar,xz,zstd,java-archive}"
  run = "ouch"

[[plugin.prepend_previewers]]
  mime = "application/sqlite3"
  run = 'piper -- sqlite3 "$1" ".schema --indent"'

[[plugin.prepend_previewers]]
  url = "*.md"
  run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dark "$1"'
