console_title_template = '{{ .HostName }}: {{ .PWD }}'
version = 4
final_space = true

[secondary_prompt]
  template = '>> '
  foreground = 'magenta'
  background = 'transparent'

[transient_prompt]
  template = '> '
  background = 'transparent'
  foreground_templates = ['{{if gt .Code 0}}green{{end}}', '{{if eq .Code 0}}yellow{{end}}']

[upgrade]
  source = 'cdn'
  interval = '168h'
  auto = false
  notice = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = ' {{ .Major }}.{{ .Minor }} '
    foreground = 'green'
    background = 'transparent'
    type = 'python'
    style = 'plain'

    [blocks.segments.options]
      home_enabled = true

  [[blocks.segments]]
    template = '{{ if eq .HostName "cachyos-server" }}<yellow>[server] CachyOS:</>{{ else if eq .HostName "v8817" }}<cyan>[server] Debian:</>{{ else }}[desktop] CachyOS:{{ end }} '
    foreground = 'blue'
    background = 'transparent'
    type = 'text'
    style = 'plain'

  [[blocks.segments]]
    template = '<green>{{ .Path }}</>{{ if not .Writable }} <red></>{{ end }}'
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.options]
      style = 'agnoster_short'
      max_depth = 5
      home_icon = '~/'

  [[blocks.segments]]
    template = ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }} <yellow>*</>{{ end }}{{ if gt .Behind 0 }}<cyan>⇣</>{{ end }}{{ if gt .Ahead 0 }}<cyan>⇡</>{{ end }}'
    foreground = 'p:grey'
    background = 'transparent'
    type = 'git'
    style = 'plain'
    
    [blocks.segments.options]
      branch_icon = ''
      commit_icon = '@'
      fetch_status = true

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    template = '{{ .FormattedMs }}'
    foreground = 'yellow'
    background = 'transparent'
    type = 'executiontime'
    style = 'plain'

    [blocks.segments.options]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '>'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}green{{end}}']
